.list-overflow-container {
	max-height: 545px;
	width: auto;
  overflow-y: auto;
  overflow-x: auto;
}

.list-group .list-group-item {
	background-color: #dfdad7;
	border-radius: 0 30px 0 0;
	border: 2px #c94309 solid;
}

.list-overflow-container ul {
  margin: 0;
}

.list-overflow-container li {
  border-radius: 0px;
  border-left: none;
  border-right: none;
}

.list-overflow-container li * {
  cursor: pointer;
}

.list-overflow-container li a {
  color: #2A878C;
}

.list-overflow-container li:first-child {
  border-top: none;
}

.list-overflow-container li:last-child {
  border-bottom: none;
}
